<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-1 d-flex flex-column h-100">
    <div class="card-header border-0 pb-2">
      <div class="d-flex align-items-center gap-2">
        <i class="bi bi-person-circle fs-2"></i>
        <div class="min-w-0">
          <h6 class="fs-6 mb-0 text-truncate">{{ event.category }}</h6>
          <small class="text-muted text-truncate">{{ event.location }}</small>
        </div>
      </div>
    </div>

    <div class="card-body p-0">
      <div class="placeholder-card-image d-flex justify-content-center align-items-center">
        {% if event.banner %}
          <img
            src="{{ event.banner.url }}"
            class="img-fluid w-100 h-100 object-fit-cover rounded"
            alt="{{ event.title }}"
          />
        {% else %}
          <i class="bi bi-image fs-1 text-muted"></i>
        {% endif %}
      </div>
    </div>

    <div class="card-body pt-3 mb-0">
      <h6 class="card-title mb-1 text-truncate">
        <b>{{ event.title }}</b>
      </h6>

      <p class="mb-2 text-muted small">
        <i class="bi bi-calendar-event"></i> {{ event.date|date:"j.n.Y H:i" }}
      </p>

      <div class="d-flex flex-wrap gap-2">
        <span class="badge rounded-pill">
          {{ event.category }}
        </span>

        {% if event.is_private %}
          <span class="badge rounded-pill bg-warning">
            Private
          </span>
        {% endif %}

        {% if event.approved %}
          <span class="badge rounded-pill bg-success">
            Approved
          </span>
        {% endif %}
      </div>
    </div>

    <div class="card-footer border-0 bg-transparent pt-0 mt-auto pb-0 mb-0">
      <div class="d-flex justify-content-end">
        <a href="{% url 'event_system:event_detail' event.id %}" class="btn btn-md btn-secondary rounded-pill d-flex align-items-center gap-2">
          <i class="bi bi-arrow-return-left pt-1"></i>
          <span class="fw-semibold">About</span>
        </a>
      </div>
    </div>
  </div>
</div>