@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

$body-bg: #D9D9D9;
$btn-primary: #6750A4;

body {
    background-color: $body-bg;
}
.btn-primary {
    background-color: $btn-primary;

}
