{% extends "base.html" %}
{% block body_class %}no-scroll-page{% endblock %}
{% block content %}
<div class="container-xxl rounded-4 p-4 navbar-spacing">
    <h2 class="text-center fw-bold mb-3">My Profile</h2>

   {% if messages %}
<div class="col-lg-8 mx-auto mb-4">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show rounded-pill px-4 py-2 border-0 d-flex align-items-center" role="alert">
            <div class="d-flex align-items-center">
                {% if message.tags == 'success' %}
                    <i class="bi bi-check-circle-fill me-2"></i>
                {% elif message.tags == 'error' or message.tags == 'danger' %}
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                {% else %}
                    <i class="bi bi-info-circle-fill me-2"></i>
                {% endif %}
                <small class="fw-bold">{{ message }}</small>
            </div>
            
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    {% endfor %}
</div>
{% endif %}
    
    <form method="post" enctype="multipart/form-data" class="col-lg-8 mx-auto">
        {% csrf_token %}
        
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <div class="avatar border border-5 border-white rounded-circle mb-3"> 
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}?t={{ user.last_login.timestamp }}" alt="Profile" class="w-100 h-100 object-fit-cover rounded-circle">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ user.first_name }}+{{ user.last_name }}" alt="Default">
                    {% endif %}
                </div>
                <label for="id_avatar" class="btn form-control border-0 rounded-pill w-auto"> 
                    <i class="bi bi-camera me-2"></i> Change profile picture
                </label>
                <input type="file" name="avatar" id="id_avatar" class="d-none">
        </div>

        <div class="px-md-5">
            <div class="row align-items-center mb-4">
                <div class="col-md-3 text-md-end">
                    <label class="fw-bold fs-5 text-dark pe-2">First name:</label>
                </div>
                <div class="col-md-9">
                    <div class="form-control w-auto border-0 rounded-4 d-flex p-1 d-inline-block">
                        {{ form.first_name }}
                        <i class="bi bi-pencil-fill text-muted m-1 me-2"></i>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-3 text-md-end">
                    <label class="fw-bold fs-5 text-dark pe-2">Surname:</label>
                </div>
                <div class="col-md-9">
                    <div class="form-control w-auto border-0 rounded-4 d-flex p-1 d-inline-block">
                        {{ form.last_name }}
                        <i class="bi bi-pencil-fill text-muted m-1 me-2"></i>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-3 text-md-end">
                    <label class="fw-bold fs-5 text-dark pe-2">Email:</label>
                </div>
                <div class="col-md-9">
                    <div class="form-control w-auto border-0 rounded-4 d-flex p-1 d-inline-block">
                        {{ form.email }}
                        <i class="bi bi-pencil-fill text-muted m-1 me-2"></i>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-3 text-md-end">
                    <label class="fw-bold fs-5 text-dark pe-2">Password:</label>
                </div>
                <div class="col-md-9">
                    <div class="form-control w-auto border-0 rounded-4 d-flex p-1 d-inline-block">
                        {{ form.new_password }}
                        <i class="bi bi-pencil-fill text-muted m-1 me-2"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary px-5 py-2 rounded-pill fs-5">Save Changes</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('id_avatar').onchange = function() {
        this.form.submit();
    };
</script>
{% endblock %}