<footer class="mt-5 text-center text-muted">
    <div class="container-fluid bg-secondary p-4">
        <p class="text-light fs-5 fw-bold"> Contact us </p>
        <span class="text-light"> <i class="bi bi-geo-alt-fill"></i> Campus de Santa Apolónia - 5300-253 BRAGANÇA </span> <br>
        <span class="text-light"> <i class="bi bi-envelope-at-fill"></i> info@campus-event-manager.com </span> <br>
        <span class="text-light"> <i class="bi bi-telephone-fill"></i> (+351) 123 456 789 </span>
    </div>
    <div class="container-fluid bg-primary pt-3 pb-1">
        <p class="text-light">&copy; 2026 Campus Event Manager. All rights reserved.</p>
    </div>
</footer>