{% load static %}
<nav class="navbar navbar-expand-xxl">
    <div class="container-fluid flex-column">
        <div class="position-absolute top-0 start-0">
        
        <!-- Dropdown Menu -->
        {% if user.is_authenticated %}
            <div class="dropdown dropdown-menu mt-4 ms-4">
                <button class="border-0 bg-transparent rounded-4 menu p-2 py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                    <i class="bi bi-list fs-1 m-0"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-start shadow-sm rounded-4 border-0 mt-2 text-start m-0 p-2">
                    <li class="mb-2">
                         <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:dashboard' %}">
                             <i class="bi bi-house-fill fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> Dashboard
                         </a>
                    </li>
                    <li class="mb-2">
                         <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:past-events' %}">
                             <i class="bi bi-calendar fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> Past Events
                         </a>
                    </li>
                    <li class="mb-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:my-feedback' %}">
                            <i class="bi bi-chat-left fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> My Feedback
                        </a>
                    </li>
                    {% if user.role == 'admin' %}
                    <li class="my-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:approve-events-list' %}">
                            <i class="bi bi-check2-circle fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> Approve Events
                        </a>
                    </li>
                    {% endif %}
                    {% if user.role == 'admin' or user.role == 'organizer' %}
                    <li class="mb-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:event_create' %}">
                            <i class="bi bi-plus fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> Create Event
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'event_system:organized-events' %}">
                            <i class="bi bi-wrench fs-5 btn-secondary rounded-3 ms-0 p-2 py-1 me-1"></i> Manage Events
                        </a>
                    </li>
                    <li class="mb-0">
                        <a class="dropdown-item bg-transparent p-0 ps-1 d-inline-flex" href="{% url 'event_system:received-feedback' %}">
                            <i class="bi bi-layers fs-5 btn-secondary rounded-3 ms-0 p-2 pt-1 me-1 pb-0"></i> 
                            <div class="lh-sm ms-1"> Received <p class="pb-0 mb-0"> Feedback </p> </div>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </div>

        <!-- Navbar text -->
        <div class="pt-2 text-center w-100">
            <a class="navbar-brand text-dark" href="{% if user.is_authenticated %}{% url 'event_system:dashboard' %}{% else %}{% url 'event_system:home' %}{% endif %}">
                <h1 class="fs-3 mb-0 fw-bold">Campus Event Manager</h1> 
                <p class="fs-5 mb-0">Polytechnic Institute of Bragança</p>
            </a>
        </div>


        <!-- User -->
        <div class="position-absolute top-0 end-0">
            {% if user.is_authenticated %}
            <div class="dropdown user-dropdown my-4 me-4 p-1">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                    <div>
                    {% if user.avatar %}
                    <div class="rounded-circle">
                     <img id="navbar-profile-img" src="{{ user.avatar.url }}" 
                        alt="Profile" class="navbar-avatar-img rounded-circle">
                    </div>
                         {% else %}
                         <i class="bi bi-person-circle fs-2 text-muted"></i>
                        {% endif %}
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-4 border-0 mt-2 text-end p-2 duser">
                    {% if user.is_staff %}
                    <li class="mb-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'admin:index' %}">
                          Admin Panel <i class="bi bi-shield-lock fs-5 btn-primary rounded-3 ms-1 p-2 py-1"></i>
                      </a>
                    </li>
                    {% endif %}
                    <li class="mb-2">
                        <a class="dropdown-item bg-transparent p-0 ps-1" href="{% url 'userauth:edit-profile' %}">
                          Edit profile <i class="bi bi-person fs-5 btn-primary rounded-3 ms-1 p-2 py-1"></i>
                      </a>
                    </li>       
                    <li>
                        <form method="post" action="{% url 'userauth:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item bg-transparent p-0 text-end w-100">
                                Logout <i class="bi bi-box-arrow-right fs-5 btn-primary btn-lg rounded-3 ms-1 p-2 py-1"></i>
                                </button>
                           </form>
                       </li>
                   </ul>
             </div>
            {% endif %}
        </div>
    </div>
</nav>