{%load static%}
<header>
<nav class="navbar bg-transparent">
    <div class="container-fluid d-flex justify-content-between">
        <div class="dropdown">
    <button class="btn border-0 shadow-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">List 1</a></li>
        <li><a class="dropdown-item" href="#">List 2</a></li>
        <li><a class="dropdown-item" href="#">List 3</a></li>
    </ul>
    </div>
    <div class="d-flex flex-column align-items-center">
        <h3 class="fs-3 fw-bold">Campus Event Manager</span>
        <h5 class="fs-6 fw-normal">Polytechnic Institute of Braganca</span>
    </div>    

    <div>
        <!-- Place for User -->
    </div>
</nav>