<!doctype html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{% block title %}Event System{% endblock %}</title>

 {% load sass_tags %}
 <link rel="stylesheet" href="{% sass_src 'custom.scss' %}">
 

</head>
 <body style="background-color: #d9d9d9;"> 
 {% include "partials/header.html" %}
 <main class="container py-4">
 {% block content %}{% endblock %}
 </main>
 {% include "partials/footer.html" %}

  {% load static %}
 <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
 
</body>
</html>