{% extends "base.html" %}
{%block title%}Dashboard{%endblock%}
{%block content%}

<div> 
    <h2> My events </h2>

    <div class="container row">
    {% for x in '123'|make_list %}
        {% if forloop.counter <= 3 %}
            <div class="col container">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-sm border-0 event-card-light-bg"> 
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-3">
                                <i class="fas fa-user header-icon"></i> 
                                <div class="rounded-circle bg-light me-2"style="width: 30px; height: 30px;"></div>
                                <div>
                                    <h6 class="mb-0">Header</h6>
                                    <small class="text-muted">Subhead</small>
                                </div>
                            </div>
                            <div class="placeholder-card-image">
                                <span class="placeholder-icon text-muted">
                                    <i class="far fa-image"></i> 
                                </span>
                            </div>
                            <h5 class="card-title mt-3 mb-2">Event Name</h5>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-sm btn-secondary">
                                    <i class="fas fa-info-circle"></i> About
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}  
    </div>
</div>

{%endblock%}