{% extends "base.html" %} 

{%block title%} {{title}} {%endblock%}

{% block content %}
<div class="align-items-center row-cols-1">
  <div class="container-xxl rounded-4 m">
    <h2 class="p-4 pb-2">
      <b> My events <i class="bi bi-caret-right-fill fs-5"></i> </b>
    </h2>

    <div class="container">
      <div class="row d-flex">
        {% for registration in my_events %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card border-1">
            <!-- HEADER -->
            <div class="card-header border-0 pb-0">
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-person-circle fs-2 me-2"></i>
                <div>
                  <h6 class="fs-6 mb-0">{{ registration.event.category }}</h6>
                  <small class="text-muted">
                    {{ registration.event.location }}
                  </small>
                </div>
              </div>
            </div>

            <!-- IMAGE -->
            <div class="card-body p-0">
              <div
                class="placeholder-card-image d-flex justify-content-center align-items-center rounded"
              >
                {% if registration.event.banner %}
                <img
                  src="{{ registration.event.banner.url }}"
                  class="img-fluid rounded"
                />
                {% else %}
                <i class="bi bi-image fs-1 text-muted"></i>
                {% endif %}
              </div>
            </div>

            <!-- FOOTER -->
            <div class="card-footer border-0 pt-0 pb-3 px-1">
              <div class="container-fluid h-100">
                <div class="row h-100">
                  <div class="col">
                    <h6 class="card-title mt-2 mb-0">
                      <b>{{ registration.event.title }}</b>
                    </h6>

                    <p class="mb-0">
                      <i class="bi bi-calendar-event"></i>
                      {{ registration.event.date|date:"d.m.Y H:i" }}
                    </p>

                    <div class="badge p-2 rounded-pill">
                      {{ registration.event.category }}
                    </div>

                    {% if registration.event.is_private %}
                    <span class="badge bg-warning py-2">Private</span>
                    {% endif %} {% if registration.event.approved %}
                    <span class="badge bg-success py-2">Approved</span>
                    {% endif %}
                  </div>

                  <div class="col d-flex justify-content-end align-items-end">
                    <a
                      class="btn btn-sm px-3 py-2 btn-secondary rounded-pill d-flex gap-2 fw-bolder"
                    >
                      <i class="bi bi-arrow-return-left"></i> About
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="fs-4 text-muted ms-4 mt-2">No events available.</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-xxl bg-transparent mt-5 p-0">
    <div class="row">
      <div class="col-8">
        <div class="container-xxl rounded-4 n">
          <div class="text-center">
            <h4 class="p-4 pb-2">
              <b>
                Upcoming Events <i class="bi bi-caret-right-fill fs-5"></i>
              </b>
            </h4>
          </div>
          <div class="row row-cols-3 p-2 pb-0">
            {% for event in upcoming_events %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-1">
                <!-- HEADER -->
                <div class="card-header border-0 pb-0">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-person-circle fs-2 me-2"></i>
                    <div>
                      <h6 class="fs-6 mb-0">
                        {{ event.category }}
                      </h6>
                      <small class="text-muted">
                        {{ event.location }}
                      </small>
                    </div>
                  </div>
                </div>

                <!-- IMAGE -->
                <div class="card-body p-0">
                  <div
                    class="placeholder-card-image d-flex justify-content-center align-items-center rounded"
                  >
                    {% if event.banner %}
                    <img
                      src="{{ event.banner.url }}"
                      class="img-fluid rounded"
                    />
                    {% else %}
                    <i class="bi bi-image fs-1 text-muted"></i>
                    {% endif %}
                  </div>
                </div>

                <!-- FOOTER -->
                <div class="card-footer border-0 pt-0 pb-3 px-1">
                  <div class="container-fluid h-100">
                    <div class="row h-100">
                      <div class="col">
                        <h6 class="card-title mt-2 mb-0">
                          <b>{{ event.title }}</b>
                        </h6>

                        <p class="mb-0">
                          <i class="bi bi-calendar-event"></i>
                          {{ event.date|date:"d.m.Y H:i" }}
                        </p>

                        <div class="badge p-2 rounded-pill">
                          {{ event.category }}
                        </div>
                        
                        {% if event.approved %}
                        <span class="badge bg-success py-2">Approved</span>
                        {% endif %}
                      </div>

                      <div
                        class="col d-flex justify-content-end align-items-end"
                      >
                        <a
                          class="btn btn-sm px-3 py-2 btn-secondary rounded-pill d-flex gap-2 fw-bolder"
                        >
                          <i class="bi bi-arrow-return-left"></i> About
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <p class="fs-4 text-muted ms-4 mt-2">No events available.</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="container-xxl rounded-4 p-2 n">
          <div class="text-center">
            <h4 class="p-3 pb-1">
              <b> Notifications <i class="bi bi-caret-right-fill fs-5"></i> </b>
            </h4>
          </div>
          <div class="row-cols-1 p-2 pb-0">
            {% for x in '123456789'|make_list %}
            <div class="card mb-3 border-1">
              <div class="card-body p-1 pb-0">
                <div class="row row cols2">
                  <div class="col-2">
                    <i class="bi bi-person-circle fs-1 ms-2"></i>
                  </div>
                  <div class="col-9">
                    <span class="fs-6 mb-0 fw-bold">
                      Reminder > Event Name
                    </span>
                    <p class="text-muted lh-sm fs-xs mb-1">
                      Supporting line text lorem ipsum dolor sit amet,
                      consectetur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
