{% extends "base.html" %} 
{% block title %} {{title}} {% endblock %} 

{% block content %}
<div class="align-items-center row-cols-1 navbar-spacing-dashboard">
  
  {% if request.user.role == 'admin' %}
  <div class="container-xxl p-4 mb-4 rounded-4 container-dashboard">
    <div class="row align-items-center text-dark text-center text-md-start">
      <div class="col d-flex align-items-center justify-content-center justify-content-md-start">
        <i class="bi bi-calendar3 fs-1 me-3 link-primary"></i>
        <div>
          <h4 class="fw-bold mb-0">Events</h4>
          <div class="fs-xs">
            <span class="text-muted">> This week:</span> <strong>{{ stats.events_this_week }}</strong> <br>
            <span class="text-muted">> Total:</span> <strong>{{ stats.events_total }}</strong>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex align-items-center justify-content-center justify-content-md-start ps-md-5">
        <i class="bi bi-people fs-1 me-3 link-primary"></i>
        <div>
          <h4 class="fw-bold mb-0">Students</h4>
          <div class="fs-xs">
            <span class="text-muted">> Registered:</span> <strong>{{ stats.students_registered }}</strong> <br>
            <span class="text-muted">> Total:</span> <strong>{{ stats.students_total }}</strong>
          </div>
        </div>
      </div>

      <div class="col d-flex align-items-center justify-content-center justify-content-md-start ps-md-5">
        <i class="bi bi-person-badge fs-1 me-3 link-primary"></i>
        <div>
          <h4 class="fw-bold mb-0">Organizers</h4>
          <div class="fs-xs">
            <span class="text-muted">> Active:</span> <strong>{{ stats.organizers_active }}</strong> <br>
            <span class="text-muted">> Total:</span> <strong>{{ stats.organizers_total }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="container-xxl rounded-4 container-dashboard p-2">
    <h2 class="p-4 pb-2 fw-bold text-dark">
    <a href="{% url 'event_system:my-events' %}" class="text-dark link-secondary link-underline link-underline-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover">
        My events <i class="bi bi-caret-right-fill fs-5"></i>
    </a>
    </h2>
    <div class="container">
      <div class="row d-flex">
        {% for registration in my_events %} 
          {% include "event_system/components/event_card.html" with event=registration.event %} 
        {% empty %}
          <p class="text-muted text-center py-5">No events yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-xxl bg-transparent w-100 mt-4 p-0">
    <div class="row">
      <div class="col-lg-8">
        <div class="container-xxl part-dash rounded-4 p-3">
          <h2 class="p-3 pb-2 fw-bold text-dark">
          <a href="{% url 'event_system:upcoming-events' %}" class="text-dark link-secondary link-underline link-underline-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover">
        Upcoming Events <i class="bi bi-caret-right-fill fs-5 "></i>
          </a>
          </h2>
          
          <div class="p-2 overflow-y-auto dashboard-events-scroll">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
              {% for event in upcoming_events %}
                {% include "event_system/components/event_card.html" with event=event %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
    <div class="container-xxl part-dash rounded-4 p-3 h-100 notification-margin-top">
        <h2 class="fw-bold text-dark p-3 pb-2"> 
            <a href="{% url 'event_system:notifications' %}" class="text-dark link-secondary link-underline link-underline-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover">
              Notifications  
              <i class="bi bi-caret-right-fill fs-5"></i>
            </a>
        </h2>
        
        <div class="p-2 dashboard-events-scroll">
            {% for notification in notifications_list %}
                {% include "event_system/components/notification_item.html" with notification=notification %}
            {% empty %}
                <p class="text-center text-muted py-5">No notifications yet.</p>
            {% endfor %}
                </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}