{%extends "base.html"%} {%block title%} {{title}} {%endblock%} {%block content%}

<div class="container mt-4">
  <div class="container-xxl rounded-4 p-4 mb-4">
    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <h2 class="mb-1 fw-bold">{{ event.title }}</h2>
        <p class="text-muted mb-0">
          <i class="bi bi-geo-alt"></i> {{ event.location }}
        </p>
      </div>

      <div class="d-flex gap-2 fw-semibold">
        <!-- TODO!! We have to change the role for the organizer of this event and admin -->

        {% if user.is_staff %}
        <a href="#" class="btn btn-primary btn-lg">
          <i class="bi bi-pencil"></i> Edit
        </a>
        {% endif %} {% if is_registered %}
        <a href="#pass" class="btn btn-primary btn-lg">
          <i class="bi bi-ticket-perforated"></i> View Pass
        </a>
        <!-- Unregister -->
        <form method="post" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-outline-danger btn-lg" name="unregister">
            <i class="bi bi-x-circle"></i> Unregister
          </button>
        </form>
        {% endif %}
      </div>
    </div>

    <!-- IMAGE -->

    {% if event.banner %}
    <div class="ratio ratio-16x9 rounded overflow-hidden" style="height: 300px">
      <img
        src="{{ event.banner.url }}"
        class="w-100 h-100 object-fit-cover"
        alt="{{ event.title }}"
      />
    </div>
    {% else %}
    <div
      class="bg-light rounded d-flex justify-content-center align-items-center"
      style="height: 300px"
    >
      <i class="bi bi-image fs-1 text-muted"></i>
    </div>
    {% endif %}
  </div>

  <!-- INFO CARD -->
  <div class="container-xxl rounded-4 p-4 my-4">
    <div class="card-body">
      <h5 class="card-title mb-1">Event Organization</h5>

      <p class="mb-1">
        <i class="bi bi-clock"></i>
        {{ event.date_start|date:"j.n.Y H:i" }} - {{ event.date_end|date:"H:i" }}
      </p>

      <span class="badge bg-success mb-3"> {{ event.category }} </span>

      <h6><i class="bi bi-card-text"></i> Description</h6>
      <p class="text-muted">{{ event.description }}</p>

      <p class="text-muted mb-0 d-flex align-items-center gap-1">
        <!-- profile image -->
        {% if event.organizer.avatar %}
        <img
          src="{{ event.organizer.avatar.url }}"
          alt="Organizer Avatar"
          class="rounded-circle"
          style="width: 30px; height: 30px; object-fit: cover"
        />
        {% else %}
        <i class="bi bi-person-circle"></i>
        {% endif %} Organized by: {{ event.organizer.first_name }} {{ event.organizer.last_name }}
      </p>
    </div>
  </div>

  <!-- REGISTRATION / PASS -->
  <div class="container-xxl rounded-4 p-4 text-center" id="pass">
    {% if is_registered %}
    <h4 class="mb-3">Your pass</h4>
    <!-- Date of registration -->
    <p class="text-muted">
      Registered on: {{ registration.registered_at|date:"j.n.Y H:i" }}
    </p>
    <img
      src="{% url 'event_system:registration_qr' registration.id %}"
      alt="QR code"
      class="img-fluid mx-auto"
      style="max-width: 200px"
    />
    <p class="text-muted mt-2">Please show this QR-code to enter the event!</p>
    {% else %}
    <h4 class="mb-3">Join this event</h4>
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-primary px-4" name="register">Register</button>
    </form>
    {% endif %}
  </div>
</div>
{%endblock%}
