{%extends "base.html"%} {%block title%} {{title}} {%endblock%} {%block content%}
<div class="container-xxl rounded-4">
  <div class="row row-cols-2">
    <div class="col">
      <h2 class="p-4 pb-2"><b>{{title}}</b>
        {% if events_count %}
        <span class="fs-5 text-muted">{{ events_count }}</span>
        {% endif %}
      </h2>
    </div>

    <div class="dropdown d-flex justify-content-end">
      <button
        class="btn btn-light filter-btn dropdown-toggle d-flex align-items-center justify-content-between m-3 rounded-4"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      
        <span class="me-2">
          {% if selected_category %}
            {{ selected_category }}
          {% else %}
            All
          {% endif %}
        </span>
        <i class="bi bi-funnel-fill"></i>
      </button>

      <ul
        class="dropdown-menu category p-2 pb-0 border-0 shadow-sm dropdown-menu-end me-3 rounded-4"
      >
        <li>
          <a
            class="dropdown-item my-2 {% if not selected_category %}active{% endif %}"
            href="?"
          >
            All
          </a>
        </li> 
        {% for category in categories %}
          <li>
            <a
              class="dropdown-item my-2 {% if category == selected_category %}active{% endif %}"
              href="?category={{ category }}"
            >
              {{ category }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex">
      {% for event in events %}
      {% include "event_system/components/event_card.html" with event=event %}

      {% empty %}
      <div class="d-flex justify-content-center align-items-center p-5">
        <h4 class="text-muted">No events found</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
