{% extends "base.html" %} 
{% block title %} {{title}} {% endblock %} 
{% block content %}

<div class="container">
  <div class="container-xxl rounded-4 p-4 mb-4">
    <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <h2 class="mb-1 fw-bold">{{ event.title }}</h2>
        <p class="text-muted mb-0">
          <i class="bi bi-geo-alt"></i> {{ event.location }}
        </p>
      </div>

      <div class="d-flex gap-2 fw-semibold align-items-center d-inline justify-content-center">
        
        {% if event.date_start < now and event.date_end > now %}
          <div class="alert alert-secondary mb-0 py-2 px-4 rounded-pill border-0 d-flex align-items-center me-1">
                <i class="bi bi-clock-history me-2"></i>
                <span class="fs-xs fw-bold">This event is happening right now.</span>
            </div>
        {% endif %}

        {% if event.date_end < now %}
            <div class="alert alert-secondary mb-0 py-2 px-4 rounded-pill border-0 d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                <span class="fs-xs fw-bold">This event has ended. Registration is closed.</span>
            </div>
        {% endif %}

        {% if user.is_superuser or user == event.organizer %}
        <a href="{% url 'event_system:event_edit' event.id %}" class="btn btn-primary btn-lg">
            <i class="bi bi-pencil me-1"></i> Edit
        </a>
        {% endif %} 
            {% if is_registered and event.date_end > now %}
                <a href="#pass" class="btn btn-secondary btn-lg">
                    <i class="bi bi-ticket-perforated me-1"></i> View Pass
                </a>
                {% endif %}
                {% if event.date_start > now %}
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary btn-lg border-2" name="unregister">
                        <i class="bi bi-x-circle me-1"></i> Unregister
                    </button>
                </form>
                {% endif %}
            {% if not is_registered %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-lg" name="register">
                        <i class="bi bi-calendar me-1"> </i> Register
                    </button>
                </form>
            {% endif %}
      </div> 
    </div> 

    {% if event.banner %}
    <div class="ratio ratio-16x9 rounded overflow-hidden event-banner-container">
      <img
        src="{{ event.banner.url }}"
        class="w-100 h-100 object-fit-cover"
        alt="{{ event.title }}"
      />
    </div>
    {% else %}
    <div class="bg-light rounded d-flex justify-content-center align-items-center event-banner-container">
      <i class="bi bi-image fs-1 text-muted"></i>
    </div>
    {% endif %}
  </div> 

  <div class="container-xxl rounded-4 p-4 my-4">
    <div class="card-body">
      <h5 class="card-title mb-1">Event Organization</h5>
      <p class="mb-1 text-muted">
        <i class="bi bi-calendar-event"></i>
        {{ event.date_start|date:"j M Y H:i" }} - {{ event.date_end|date:"H:i" }}
      </p>
      <span class="badge mb-3"> {{ event.category }} </span>

      <h6><i class="bi bi-card-text"></i> Description</h6>
      <p class="text-muted">{{ event.description }}</p>

      <p class="text-muted mb-0 d-flex align-items-center gap-1">
        {% if event.organizer.avatar %}
        <img
          src="{{ event.organizer.avatar.url }}"
          alt="Organizer Avatar"
          class="rounded-circle organizer-avatar-img"
        />
        {% else %}
        <i class="bi bi-person-circle"></i>
        {% endif %} Organized by: <b>
          {% if event.organizer == user %}
            Me
          {% else %}
            {{ event.organizer.get_full_name|default:event.organizer.email }}
          {% endif %}
        </b>
      </p>
    </div>
  </div>

  {% if is_registered and event.date_end > now%}
  <div class="container-xxl rounded-4 p-4 text-center" id="pass">
    <h4 class="mb-3">Your pass</h4>
    <p class="text-muted">
      Registered on: {{ registration.registered_at|date:"j.n.Y H:i" }}
    </p>
    <img
      src="{% url 'event_system:registration_qr' registration.id %}"
      alt="QR code"
      class="img-fluid mx-auto qr-code-img"
    />
    <p class="text-muted mt-2">Please show this QR-code to enter the event!</p>
  </div>
  {% endif %}
  {% if is_registered and event.date_end < now %}
    <div class="container-xxl rounded-4 p-4">
      <h3> Leave Feedback </h3>
        <form method="post" action="{% url 'event_system:submit_feedback' event.id %}">
        {% csrf_token %}
          {{ form.comment }}
          <div class="mt-2 d-flex align-items-start">
            <span class="fw-medium fs-5 me-2"> Rate this event: </span>
            <span class="rating-stars">
              <input type="radio" name="rating" id="rating5" value="5" class="d-none" required/> <label for="rating5" title="5"> <i class="bi bi-star-fill fs-5 me-1"></i> </label>
              <input type="radio" name="rating" id="rating4" value="4" class="d-none" required/> <label for="rating4" title="4"> <i class="bi bi-star-fill fs-5 me-1"></i> </label>
              <input type="radio" name="rating" id="rating3" value="3" class="d-none" required/> <label for="rating3" title="3"> <i class="bi bi-star-fill fs-5 me-1"></i> </label>
              <input type="radio" name="rating" id="rating2" value="2" class="d-none" required/> <label for="rating2" title="2"> <i class="bi bi-star-fill fs-5 me-1"></i> </label>
              <input type="radio" name="rating" id="rating1" value="1" class="d-none" required/> <label for="rating1" title="1"> <i class="bi bi-star-fill fs-5 me-1"></i> </label>
            </span>
            </div>
            <div class="text-start mt-2">
            <button type="submit" class="btn btn-primary p-2 px-3 rounded-3 fs-s w-auto">Post <i class="bi bi-send-fill ms-1 fs-xs"> </i></button>
        </div>
        </form>
    </div>
    {% endif %}

    {% if event.date_end < now %}
    <div class="container-xxl rounded-4 p-4 my-4 pb-1">
      <div class="d-inline-flex justify-content-between align-items-center w-100 mb-2">
        <h3> All Reviews 
          {% if feedbacks_count %}
          <span class="fs-5 text-muted">{{ feedbacks_count }}</span>
          {% endif %}
        </h3>
        <div class="d-flex align-items-center justify-content-end mb-1 bg-white rounded-4 px-2 py-0">
          <span class="fw-bold text-muted me-1"> Rating: {{ avg_rating|floatformat:1 }}</span>
            <i class="bi bi-star-fill text-warning fs-3 ms-1"></i>
        </div>
      </div>
      {% for feedback in feedbacks %}
        <div class="p-3 accordion-item rounded-4 mb-3">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="d-flex align-items-center">
                                        {% if feedback.user.avatar %}
                                                <img
                                                src="{{ feedback.user.avatar.url }}"
                                                alt="{{ feedback.user.first_name }} {{ feedback.user.last_name }}"
                                                class="rounded-circle"
                                                width="20"
                                                height="20"
                                                />
                                            {% else %}
                                                <i class="bi bi-person-circle fs-6 text-secondary"></i>
                                            {% endif %}
                                        <div class="ms-1">
                                            <span class="fw-bold text-dark fs-xs">{{ feedback.user.get_full_name }}</span>
                                            <small class="text-muted ms-2 fs-xxs">{{ feedback.created_at|date:"d M, H:i" }}</small>
                                        </div>
                                    </div>
                                    <div class="text-warning">
                                        {% for i in "12345"|make_list %}
                                            <i class="bi bi-star{% if forloop.counter <= feedback.rating %}-fill{% endif %} fs-xxs"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0 text-muted fs-xs ps-2 ms-2">
                                    {{ feedback.comment }}
                                </p>
                            </div>
      {% empty %}
      <div class="d-flex justify-content-center align-items-center p-5">
        <p class="text-muted">No reviews yet.</p>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}