{%extends "base.html"%} {%block title%} {{title}} {%endblock%} {%block content%}
<div class="container-xxl rounded-4 navbar-spacing">
  <div class="row row-cols-2">
    <div class="col">
      <h2 class="p-4 pb-2"><b>{{title}}</b>
        {% if events_count %}
        <span class="fs-5 text-muted">{{ events_count }}</span>
        {% endif %}
      </h2>
    </div>

    <div class="dropdown d-flex justify-content-end">
      <button
        class="btn btn-light filter-btn dropdown-toggle d-flex align-items-center justify-content-between rounded-4 p-2 m-3"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      
        <div class="badge p-2 rounded-pill mt-1">
          {% if selected_category %}
            {{ selected_category }}
          {% else %}
            All
          {% endif %}
        </div>
        <i class="bi bi-funnel-fill ms-2"></i>
      </button>

      <ul class="dropdown-menu p-2 pb-0 border-0 shadow-sm rounded-4 me-3">
        <li class="dropdown-item badge p-2 rounded-pill mb-2 text-white text-center">
          <a
            class="text-decoration-none text-white {% if not selected_category %}active{% endif %}"
            href="?"
          >
            All
          </a>
        </li> 
        {% for category in categories %}
          <li class="dropdown-item badge p-2 rounded-pill mb-2 text-white text-center">
            <a
              class="text-decoration-none text-white {% if category == selected_category %}active{% endif %}"
              href="?category={{ category }}"
            >
              {{ category }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex">
      {% for event in events %}
      {% include "event_system/components/event_card.html" with event=event %}

      {% empty %}
      <div class="d-flex justify-content-center align-items-center p-5">
        <h4 class="text-muted">No events found</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
