{% extends "base.html" %} {% load static %} {% block title %} {{ title }} 
{% endblock %} {% block navbar_hide_auth %}true{% endblock %} {% block content %}
<div class="container-xl w-100 mb-3 rounded-4 bg-image p-0 navbar-spacing">
  <div class="container-fluid h-100 bg-white bg-opacity-50 d-flex justify-content-center align-items-center rounded-4">
    <h2 class="display-1 fw-bold">About The Project</h2>
  </div>
</div>

<div class="container-xxl mb-5 text-center p-4 mx-auto rounded-4">
  <p class="mx-auto text-center home-text-max-width lh-sm">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat purus
    vitae finibus auctor. Pellentesque ultrices, sem sed congue viverra, ex
    neque tempus tellus, cursus accumsan est metus ut elit. Aliquam eleifend
    condimentum purus eu placerat. Nullam ultrices diam vitae lorem sodales
    faucibus. Nulla vestibulum sem eget lobortis accumsan. Maecenas sodales,
    augue sit amet euismod ultrices, risus ex auctor sapien, at ultricies ipsum
    metus quis metus. Nunc semper enim eu justo tristique, et mattis nunc
    euismod. In non dapibus dolor, a tristique ligula. Suspendisse elementum
    nisl a urna blandit, sit amet rutrum neque elementum. Curabitur ultrices
    ultrices nisl. Aliquam congue ligula non felis faucibus, eu consequat augue
    cursus.
  </p>
</div>

<div class="container-xxl w-50 rounded-4 text-center py-5 mb-5 welcome">
  {% if not user.is_authenticated %}
  <h2 class="text-dark mb-4 display-3 fw-bold">Join The Party!</h2>
  <a
    href="{% url 'userauth:register' %}"
    class="btn btn-primary btn-lg mx-2 p-3 px-4 fw-semibold w-auto"
  >
    <i class="bi bi-person-plus me-1"></i> Register
  </a>
  <a
    href="{% url 'userauth:login' %}"
    class="btn btn-primary btn-lg mx-2 p-3 px-4 fw-semibold w-auto"
  >
    <i class="bi bi-box-arrow-in-right me-1"></i> Login
  </a>
  {% else %}
  <h2 class="text-dark mb-4 fw-bold">
    Welcome, <a href="{% url 'userauth:edit-profile'%}" class="link-primary link-offset-1 link-underline-primary"> {{ user.first_name }} {{ user.last_name }}</a>!
  </h2>
  <p class="mb-4">Go to your Dashboard to manage your events.</p>
  <a
    href="{% url 'event_system:dashboard' %}"
    class="btn btn-primary btn-lg mx-2 p-3 fw-semibold fs-5"
  >
    <i class="bi bi-calendar-event-fill me-2"></i> Go to Dashboard
  </a>
  {% endif %}
</div>

<div class="container-xxl rounded-4 p-4">
  <h2 class="ps-3 pb-2"><b> Upcoming events </b></h2>
  <div class="row ">
    {% for event in events %}
    {% include "event_system/components/event_card.html" with event=event %}
    {% empty %}
    <p class="text-muted my-5 text-center">No events available.</p>
    {% endfor %} {% if events %}
    <div class="text-center col-10 w-100">
      {% if user.is_authenticated %}
      <a
        class="link-primary link-offset-1 fs-6 mb-0 link-underline-primary"
        href="{%url 'event_system:upcoming-events'%}"
      >
        See more events
        <p><i class="bi bi-chevron-compact-down"> </i></p>
      </a>
      {% else %}
      <a
        class="link-primary link-offset-1 fs-6 mb-0 link-underline-primary"
        data-bs-toggle="modal"
        data-bs-target="#authModal"
      >
        See more events
        <p><i class="bi bi-chevron-compact-down"> </i></p>
      </a>
      {%endif%}
    </div>
    {%endif%}
    <!-- Modal -->
    <div
      class="modal fade"
      id="authModal"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog shadow-md modal-sm modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Register Or Login</h1>
            <button
              type="button"
              class="btn-close bg-transparent border-0"
              data-bs-dismiss="modal"
            >
              <i class="bi bi-x-circle-fill fs-3"></i>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-muted">
              To see more events, you have to be registered or logined.
            </p>
          </div>
          <div class="modal-footer">
            <a
              href="{% url 'userauth:register' %}"
              class="btn btn-primary btn-md me-2 p-2 fw-semibold"
            >
              <i class="bi bi-person-plus me-1"></i> Register
            </a>
            <a
              href="{% url 'userauth:login' %}"
              class="btn btn-primary btn-md mx-2 p-2 fw-semibold"
            >
              <i class="bi bi-box-arrow-in-right me-1"></i> Login
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
