{% extends "base.html" %}
{% block body_class %}no-scroll-page{% endblock %}
{% block content %}
<div class="container-xxl rounded-4 p-4 mt-4 navbar-spacing">
    <h2 class="fw-bold mb-4 ps-2 text-dark">Received Feedback</h2>
    
    <div class="dashboard-events-scroll p-2 pt-0">
        {% for fb in received_feedbacks %}
        <div class="col mb-3">
            <div class="card rounded-4 border-0 p-3">
                <div class="row align-items-center">
                    <div class="col-1 text-center pe-0">
                        <div class="rounded-4 placeholder-card-image feedback-card-img d-flex align-items-center justify-content-center">
                            {% if fb.event.banner %}
                                <img
                                    src="{{ fb.event.banner.url }}"
                                    class="img-fluid w-100 h-100 object-fit-cover"
                                    alt="{{ fb.event.title }}"
                                />
                            {% else %}
                                <i class="bi bi-image fs-3 text-muted overflow-visible"></i>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-8 approve-events-info ps-0">
                        <h5 class="fw-bold fs-6 mb-1">{{ fb.event.title }}</h5>
                        <div class="fs-xs text-muted mb-2">
                            <i class="bi bi-calendar-event"></i> {{ fb.event.date_start|date:"j.n.Y H:i" }} - {{ fb.event.date_end|date:"H:i" }} <br>
                            <span class="badge mt-1">{{ fb.event.category }}</span>
                        </div>
                    </div>

                    <div class="col text-end d-flex justify-content-end align-items-center gap-2">
                        <a href="{% url 'event_system:event_detail' fb.event.id %}" class="btn btn-primary rounded-pill d-flex align-items-center gap-2">
                            <i class="bi bi-arrow-return-left"></i>
                            <span class="d-none d-sm-inline">About</span>
                        </a>
                    </div>
                </div>
                <hr class="w-100 border-2 color-muted my-2 mx-0 p-0"> 
                <div class="row cols-2">
                    <div class="col">
                        <div class="row cols-2 w-auto">
                            <div class="col-1 ps-3 pt-2 me-1">
                                <img
                                    src="{{ fb.user.avatar.url }}"
                                    alt="{{ fb.user.first_name }} {{ fb.user.last_name }}"
                                    class="rounded-circle me-2"
                                    width="35"
                                    height="35"
                                />
                            </div>
                            <div class="col ps-0 ms-1 fb-user">
                                <span class="text-muted fs-xs fw-bolder">{{ fb.user.first_name }}&nbsp;{{ fb.user.last_name }}</span>
                                <p class="text-muted fs-xs mb-0 text-capitalize">{{ fb.user.role }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-top justify-content-end ">
                        <span class="text-muted fs-xxs opacity-75 text-end">{{ fb.created_at|timesince }} ago</span>
                    </div>
                    <div class="mt-2">
                        <div class="rounded-4 bg-white w-100 h-auto p-2 feedback-text">
                            <p class="text-muted fs-xs"> {{fb.comment}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="text-center py-5">
            <p class="text-center text-muted">No feedback has been received yet.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}